h1 {color:  #b30059;
}
h2 {
    color: #663d8f;
}
a {
    color: #BC0950;
}
nav { background-color: #FFFFFF;
    gap: 20px;
}
nav a {color: #8c1aff;
    text-decoration: none;
}
nav a:hover {background-color:#BEA894 ;
}
nav{ padding: 10px;
}
nav{margin-bottom: 30px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: #BEA894;
    z-index: 1;
}

body {background-color:#BEA894;
     color:	#000000 ;
}   
table, th, td {
    border: 1px solid #000000;
}
.img1 {
    max-width: 100%;
}
.box3 {
    margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 768px) {
    nav a {
        display: block;
        width: 100%;
    }
    .nav-separator {
        display: none;
    }
}
nav {
    text-align: center;
    font-size: 18px;
}