h1 {color:  #e6005c;
}
h2 {
    color: #ff4d94;
}
a {
    color: #BC0950;
}
nav { background-color: #FFFFFF;
}
nav a {color: #ff4d94;
}
nav a:hover {background-color:#BEA894 ;
}
nav{ padding: 10px;
}
nav{margin-bottom: 30px;
}
body {background-color:#BEA894;
     color:	#000000 ;
}   
table, th, td {
    border: 1px solid #000000;
}
.img1 {
    max-width: 100%;
}
.box3 {
    margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 768px) {
    nav a {
        display: block;
        width: 100%;
    }
    .nav-separator {
        display: none;
    }
}