body {
    font-family: 'Times New Roman', Times, serif;
}
 
h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    color: purple;
}
.special {color: pink}

tr {
    background-color: white; 
}
  
.evenrow {
    background-color: paleturquoise; 
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
